* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/backgroundMobile.png) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  /*rem é uma medidda de tamanho que equivale ao número de pixeis
  divido po 16 (10 rem = n/16, n= 160px)
  */
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.rotate {
  animation: rotation 8s infinite linear;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.avatar scan {
  position: absolute;
  left: -20px;
  top: -25px;
  z-index: 1;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  margin-top: 0.25rem;
  color: var(--gray);
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

a:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

p {
  text-decoration: none;
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;
  list-style: none;
  padding: 0;
  justify-content: center;
  flex-direction: row;
  /*Usado para centralizar a imagem do insta no meio (inspecionei o elemento e calculei os pixeis)*/
  margin-left: 101px;
  /*Definir as dimensões precisas do quadrado*/
  width: 48px;
  height: 48px;
}

.bounceButton {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media (min-width: 100px) {
  /*Para tablet*/
  /*Unica mudaça é o background na main*/
  main {
    background: url(images/backgroundMobile.png) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    min-height: 812px;
  }

  @media (min-width: 960px) {
    /*Para desktop*/
    /*Mudanca da url do background*/
    /*Necessario mudar a posição do avatar devido ao local do cracha, foi para 17.5rem*/
    /*Necessario tambem mudar background-color para preto*/
    * {
      margin: 0;
    }

    html,
    body {
      --black: hsl(240, 6%, 13%);
      --grey: hsl(240, 9%, 89%);
      height: 100%;
      font-family: 'Roboto';
      -webkit-font-smoothing: antialiased;
    }

    body {
      display: grid;
      place-items: center;
    }

    main {
      background: url(images/backgroundDesktop.png) no-repeat center/cover;
      background-color: black;
      width: 100vw;
      height: 100vh;
      min-height: 820px;
    }

    .avatar {
      /*rem é uma medidda de tamanho que equivale ao número de pixeis
    divido po 16 (10 rem = n/16, n= 160px)
    */
      width: 10rem;
      margin: 17.25rem auto 0;
      position: relative;
    }
  }
}
